#
# Copyright (c) 2015 Rocana. All rights reserved.
#
# Rocana Data Tool configuration file. For full configuration details, see the
# Rocana Reference Guide.
###################################################################################################
# Name: kafka.brokers
# Required: Yes
#
# A comma-separated list of `<hostname>:<port>` of kafka brokers servers to use.
kafka.brokers = {{ kafka_brokers }}
###################################################################################################
# Name: producer.topic
# Required: Yes
#
# The kafka topic to send events to.
producer.topic = events
###################################################################################################
# Name: producer.key.serializer.class
# Name: producer.serializer.class
# Required: Yes
#
# Advanced. Set the serializer only if producing JSON-encoded events. The
# encoder class to use when placing events on the topic. It's rarely necessary
# to change this unless directed to do so.
# Defaults:
# producer.key.serializer.class = kafka.serializer.DefaultEncoder
# producer.serializer.class = com.rocana.kafka.EventEncoder
producer.key.serializer.class = kafka.serializer.DefaultEncoder
producer.serializer.class = com.rocana.kafka.EventEncoder
###################################################################################################
# Name: producer.request.required.acks
# Required: No
#
# What kind of acknowledgment of events sent to Kafka the producer should expect
# from the broker.
#  0 = Never waits for acknowledgement (NoResponse).
#  1 = Waits for acknowledgement after the leader replica only (WaitForLocal).
# -1 = Wait for acknowlegment from all in-sync replicas (WaitForAll).
# Rocana advises setting this to -1 to ensure durability.
# In Rocana producers such as the Agent and the NetFlow Receiver, this property
# correlates to kafka.required-acks. Corresponding values are noted in
# parentheses above (NoResponse, WaitForLocal, WaitForAll).
producer.request.required.acks = -1
