[cloudera-manager]
# Packages for Cloudera Manager, Version 5, on RedHat or CentOS 6 x86_64           	  
name=Cloudera Manager
baseurl={{ cloudera_manager_repo }}
gpgkey={{ cloudera_manager_gpgkey }}
gpgcheck = 1