[rocana]
name=Rocana Packages - {{ rocana_version }}
baseurl=http://{{ reposerver }}/rocana-{{ rocana_version }}
gpgcheck = 0

[rocana-tools]
name=Rocana Tools Pakcages
baseurl=http://{{ reposerver }}/rocana-tools
gpgcheck = 0
